<html>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
        body{        
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .fixed-header, .fixed-footer{
            width: 100%;
            position: fixed;        
            background: #333;
            padding: 0px 0px;
            color: #fff;
        }
        .fixed-header{
            top: 0;
            left: 0;
        }
        .fixed-footer{
            bottom: 0;
        }
        .container{
            width: 80%;
            margin: 0 auto;
        }
        nav a{
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
    </style>

    <body>
        <div class="fixed-header">
            <div class>
                <nav>
                    <a href="/"><span style="font-size: 40px;">Waste Data Management Dashboard</span></a>
                </nav>
            </div>
        </div>
        <canvas id="myChart"></canvas>
        <button id="changeToLine">Change to Line Chart</button>
        <button id="changeToBar">Change to Bar Chart</button>
    </body>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var chartData = {
                labels: {{months|safe}} ,
                datasets: [{
                    label: 'General Waste',
                    backgroundColor: 'green',
                    borderColor: 'green',
                    data: {{gw_19}},
                    fill: false,
                }, {
                    label: 'Recycling Waste',
                    backgroundColor: 'blue',
                    borderColor: 'blue',
                    data: {{rw_19}},
                    fill: false,
                }]
        };

        var chart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {}
        });

        document.getElementById('changeToLine').onclick = function() {
            chart.destroy();
            chart = new Chart(ctx, {
                type: 'line',
                data: chartData
            });
        };

        document.getElementById('changeToBar').onclick = function() {
            chart.destroy();
            chart = new Chart(ctx, {
                type: 'bar',
                data: chartData
            });
        };
    </script>
 </html>