{% load static %}

<link href="{% static 'css/style_404.css' %}" rel="stylesheet">
<div id="main">
  <div class="fof">
    <h1>Σφάλμα 404</h1>
    <p>Η σελίδα δεν υπάρχει.</p>
  </div>
</div>
<!--  -->