{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Σύνδεση</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_main.css' %}">
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			{% if form.errors %}
			<p>Πρόβλημα με την σύνδεση. Λάθος όνομα χρήστη/κωδικός.</p>
			{% endif %}
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-53">
						Σύνδεση
					</span>
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Όνομα χρήστη
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Απαιτείται όνομα χρήστη">
						{{ form.username }}
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Κωδικός
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Απαιτείται κωδικός χρήστη">
						{{ form.password }}
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Είσοδος
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'js/login_main.js' %}"></script>

</body>

</html>